# Backend Connection
# Local: http://localhost:5000/v1
# Prod: https://tabletap.ismaildev.uz/v1
VITE_API_URL=http://localhost:5000/v1

# WebSockets
# Local: http://localhost:5000
# Prod: https://tabletap.ismaildev.uz
VITE_WS_URL=http://localhost:5000

# PWA Configuration
# Prod URL: https://ttb.ismaildev.uz
PORT=5100
